<div [ngClass]="isDark ? 'dark-class' : 'light-class'">
  <div class="todo-app">
    <h1>Todo</h1>
    <div class="new-todo">
      <input type="text" [(ngModel)]="newTask" placeholder="Create a new todo..." class="new-input" (keydown)="onKey($event)"/>
    </div>

    <div class="todo-list">
      <ul>
        <li *ngFor="let task of filteredTasks">
          <input type="checkbox" [(ngModel)]="task.completed" />
          <span [class.completed]="task.completed">{{ task.name }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" (click)="removeTask(task)">
            <path fill="#494C6B" fill-rule="evenodd" d="M16.97 0l.708.707L9.546 8.84l8.132 8.132-.707.707-8.132-8.132-8.132 8.132L0 16.97l8.132-8.132L0 .707.707 0 8.84 8.132 16.971 0z"/>
          </svg>
        </li>
      </ul>
    </div>

    <div class="task-count">
      <p>{{ remainingTasksCount }} items left</p>
    </div>

    <div class="filters">
      <button (click)="filterTasks('all')">All</button>
      <button (click)="filterTasks('completed')">Completed</button>
      <button (click)="filterTasks('active')">Active</button>
      <button (click)="clearAllTasks()">Clear</button>
      <div [class.dark-class]="isDark" [class.white-class]="!isDark">
        <button (click)="isDark = !isDark">Toggle background</button>
      </div>
    </div>
  </div>
</div>
